---
import BaseBlog from '@layouts/BaseBlog.astro'
import { Image } from 'astro:assets'
import { getCollection, getEntry } from 'astro:content'

import type { CollectionEntry } from 'astro:content'
import Link from '@components/mdx/Link.astro'
import Paragraph from '@components/mdx/Paragraph.astro'
import Heading from '@components/mdx/Heading.astro'
import Pre from '@components/mdx/Pre.astro'

interface Props {
  entry: CollectionEntry<'blog'>
}

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
const author = await getEntry('authors', entry.data.authors)
const components = {
  h2: Heading,
  a: Link,
  p: Paragraph
}

const dateOptions: object = {
  year: '2-digit',
  month: 'numeric',
  day: 'numeric'
}
---

<BaseBlog
  title={entry.data.title}
  description={entry.data.metadata.excerpt}
  imageUrl={`${entry.data.metadata.cover_image?.url}?w=1200&auto=format,compression`}>
  <article class="prose lg:prose-xl">
    <section class="border-b pb-8">
      <h1 class="text-4xl font-bold">
        {entry.data.title}
      </h1>
      <div class="my-8"></div>
      <span class="flex items-center gap-x-4 font-semibold">
        {
          author.data.name && (
            <Image
              src={`${author.data.avatar}?w=200&h=200&fit=crop&auto=compression,format`}
              format="webp"
              quality={50}
              width={50}
              height={50}
              class="rounded-full shadow-md"
              alt={author.data.name}
            />
          )
        }
        <span class="flex flex-col">
          {author.data.name ? <span>{author.data.name}</span> : ''}
          <span
            >{
              new Date(entry.data.created_at).toLocaleDateString(
                'fr-FR',
                dateOptions
              )
            }</span
          >
        </span>
      </span>
    </section>
    {
      entry.data.metadata.cover_image && (
        <Image
          src={`${entry.data.metadata.cover_image.url}?w=1200&auto=format,compression`}
          format="webp"
          width={1200}
          height={675}
          quality={50}
          alt={`Cover image for the blog ${entry.data.title}`}
          class={'my-12 rounded-md shadow-lg'}
        />
      )
    }
    <p class="lead">{entry.data.metadata.excerpt}</p>
    <div>
      <Content components={components} />
    </div>
  </article>
</BaseBlog>
