---
import Date from "@components/Date"

export interface Props {
    allPosts: {
        title: string
        slug: string
        status: string
        startDate: string
        endDate: string
    }[]
    postType: string
}

const { allPosts, postType } = Astro.props
---

<ul>
    {allPosts.map(post => (
        <li class='py-5'>
            <a
                href={`/${postType}/${post.slug}`}
                class='group flex flex-col lg:flex-row lg:items-center lg:justify-between px-8 py-5 -my-5 -mx-7 hover:bg-back-subtle transition-colors border-b-2'>
                <div class="max-w-lg">
                    <h3 class="text-xl font-bold mb-1 group-hover:text-accent transition-colors">
                        {post.title}{' '}
                        {post.status === 'draft' && (
                            <span class="text-fore-subtle ml-2">
                                &#40;Draft&#41;
                            </span>
                        )}
                    </h3>
                </div>
                <div class="max-w-lg">
                    <Date
                        dateString={post.startDate}
                        formatStyle="LLLL, yyyy"
                    ></Date>
                    -
                    {post.endDate === 'Present' && ("Present")}
                    {post.endDate !== 'Present' && (<Date
                        dateString={post.endDate}
                        formatStyle="LLLL, yyyy"
                    ></Date>)}
                </div>
            </a>
        </li>
    ))}
</ul>